
.header__root {
    box-shadow: 0 5px 5px 0 lightgray;
    height: 2em;
    margin-top: 1em;


}

.header__container{
    display: flex;
    text-align: center;
    justify-content: center;
}

.header__title{
    margin-right: 100px;
}

.header__currency{
}

.header__currency:hover{
    cursor: pointer;
    border-bottom: 2px solid blue;
}
